<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <!-- <li><a href="1Page">Configuration</a></li> -->
      </ul>
    </div>
    <div class="container">
      <h1>Welcome to the Deployment Project</h1>
      <p>
        This project allows you to deploy your applications in various ways,<br />
        supporting both Python-based and MERN (MongoDB, Express.js, React,
        Node.js) based projects:
      </p>
      <ul>
        <li>
          Traditional Deployment: Deploy your Python-based projects using
          conventional methods.
        </li>
        <li>
          Amazon EKS Deployment: Utilize Amazon Elastic Kubernetes Service
          (EKS)<br />
          for advanced deployment for Python-based projects.
        </li>
        <li>
          MERN Stack Deployment: Deploy your MERN (MongoDB, Express.js, React,
          Node.js)<br />
          based projects with ease.
        </li>
      </ul>
      <h2>Steps:</h2>
      <ol>
        <li>Select your preferred deployment method.</li>
        <li>Follow the instructions for the chosen deployment approach.</li>
        <li>
          Review any messages or feedback provided during the deployment process
        </li>
        <li>Proceed to the next steps or navigate to additional options.</li>
      </ol>
      <h3>Details:</h3>
      <p>
        For more information about the deployment process and configuration,<br />
        please refer to the documentation specific to your chosen technology
        stack (Python or MERN).
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
